.header {
    padding: 20px;
    border-bottom: 1px solid gray;
    text-align: center;
    flex: 0;
}

.header-link {
    margin: 0 10px;
}

.link {
    color: rgb(150, 67, 8);
    transition: color .2s;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding-top: 50px;
}

.aside {
    width: 300px;
    flex: 0;
}

.contacts-item {
    display: flex;
    align-items: center;
}

.contacts-icon {
    margin-right: 20px;
    width: 30px;
}

.img {
    border: 1px solid orange;
}

.main-section {
    flex-grow: 1;
    padding-left: 50px;
    width: 200px;
}

.title {
    color: chocolate;
    font-family: 'Courier New', Courier, monospace;
}

.subtitle {
    border-left: 5px solid gray;
    padding-left: 10px;
    color: chocolate;
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    border-top: 1px solid gray;
    padding: 20px;
    text-align: center;
    color: black;
}